# --------------------------- .gitignore ---------------------------
# Python
__pycache__/
*.py[cod]
*.pyo
.pipfile.lock
.mypy_cache/
.pytest_cache/
pipenv/

# Virtualenv
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Builds
build/
dist/
*.egg-info/

# Logs and cache
*.log
logs/
output/

# OS
.DS_Store
Thumbs.db
EOF
