[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pyside6 = "*"
pillow = "*"

[dev-packages]
pytest = "*"
nuitka = "*"
ordered-set = "*"
zstandard = "*"

[requires]
python_version = "3.10"
